.container

  %form{action: '/keywords', method: 'get', id: 'user-form'}
    %input{type: 'text', name: 'word', id: 'home-form-keywords', placeholder: 'what do you want to search?'}
    %input{type: 'submit', id: 'home-form-submit', class: 'submit', value: 'submit'}
  %p

  -if @keywords
    %table{class: 'center'}
      %tbody
        %tr
          %th Title
          %th Author
          %th Date
          %th Abstract
        -@keywords.each do |keywords|
          %tr
            %td{width: '200'}
              = keywords['title']
            %td{width: '100'}
              = keywords['author']
            %td{width: '200'}
              = keywords['date']
            %td{width: '300'}
              = keywords['somthing']