!!! 5
%html
  %head
    %title TheNewLens digest
    %link{href: '/style.css', media: 'screen, projection', rel: 'stylesheet'}
  %body{class: 'whole_page'}
    %header{class: 'top_page'}
      = haml :nav
    %section{class: 'middle_page'}
      = styled_flash
      = yield
    .footer{class: 'buttom_page'}
      = haml :footer    
