#header_wrapper
  %nav{:id => 'menu'}
    %ul
      - if current_page?
        %li{:class => "current_page_item"}
          %a{:href => '/', :id => 'home'} Home
      - else
        %li
          %a{:href => '/', :id => 'home'} Home
      - if current_page?('originals')
        %li{:class => 'current_page_item'}
          %a{:href => '/originals', :id => 'author'} TNL Originals
      - else
        %li
          %a{:href => '/originals', :id => 'author'} TNL Originals    
      - if current_page?('keywords')
        %li{:class => 'current_page_item'}
          %a{:href => '/keywords', :id => 'keywords'} Keywords
      - else
        %li
          %a{:href => '/keywords', :id => 'keywords'} Keywords
      - if current_page?('classification')
        %li{:class => 'current_page_item'}
          %a{:href => '/classification', :id => 'classification'} Classification
      - else
        %li
          %a{:href => '/classification', :id => 'classification'} Classification