.container
  %h1 News of the TNL originals today
  %p
  -if @originals
    %table{class: 'center'}
      %tbody
        %tr
          %th Title
          %th Author
          %th Date
          %th Abstract
        -@originals.each do |news|
          %tr
            %td{width: '200'}
              = news['title']
            %td{width: '100'}
              = news['author']
            %td{width: '200'}
              = news['date']
            %td{width: '300'}
              = news['somthing']
